/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*  Using (mostly) the template from
 *  http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/
 *  Some boilerplate kept around below.
 */

html {
    /* Very light blue background! */
    background: #E4EFFA;
}

/* Initially hidden stuff */
.initiallyHidden { display: none; }

/* Body */
body {
    background: #E4EFFA;
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}


/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: #974F18;
    padding: 0 1px;
    text-decoration: underline;
}
a:hover, a:active {
    background-color: #974F18;
    color: #fff;
    text-decoration: none;
    /*text-shadow: 1px 1px 1px #333;*/
}

/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}
 
strong, b {font-weight: bold;}
em, i {font-style: italic;}
 
::-moz-selection {background: #033B37; color: #fff;}
::selection      {background: #033B37; color: #fff;}


/* Lists */
ul {
    list-stlye: outside disc;
    margin: 1em 0 1.5em 1.5em;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 800px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/* dummy button */
.dummyactive {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #ABCDEF;
}
.dummyinactive {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #000000;
}


/*
    Header
*****************/
#banner {
    margin: 0 auto;
    padding: 2.5em 0 0 0;
}
 
/* Banner */
#banner h1 {
    font-size: 3.571em; 
    line-height: 0.6;
    color: #000305;
}
#banner h1 a:link, #banner h1 a:visited {
    color: #000305;
    display: block;
    font-weight: bold;
    margin: 0 0 .6em .2em;
    text-decoration: none;
    width: 427px;
}
#banner h1 a:hover, #banner h1 a:active {
    background: none;
    color: #C74350;
    text-shadow: none;
}
 
#banner h1 strong {
    font-size: 0.38em; 
    font-weight: normal;
}

/* Main Nav */
#banner nav {
    /* The nice blue! */
    /*background: #0063BC;*/

    /* Blue gradient */
    background-image: linear-gradient(bottom, rgb(0,45,194) 0%, rgb(0,100,188) 40%);
    background-image: -o-linear-gradient(bottom, rgb(0,45,194) 0%, rgb(0,100,188) 40%);
    background-image: -moz-linear-gradient(bottom, rgb(0,45,194) 0%, rgb(0,100,188) 40%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,45,194) 0%, rgb(0,100,188) 40%);
    background-image: -ms-linear-gradient(bottom, rgb(0,45,194) 0%, rgb(0,100,188) 40%);

    background-image: -webkit-gradient(
    linear,
        left bottom,
        left top,
        color-stop(0, rgb(0,45,194)),
        color-stop(0.4, rgb(0,100,188))
    );

    /* Shadow */
    -moz-box-shadow: 0 2px 5px #888;
    -webkit-box-shadow: 0 2px 5px #888;
    box-shadow: 0 2px 5px #888;

    font-size: 1.143em;
    height: 40px;
    line-height: 30px;
    margin: 1.0em auto 2em auto;
    padding: 0;
    text-align: center;
    width: 800px;
        
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
    
#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
#banner nav li {float: left; display: inline; margin: 0;}
    
#banner nav a:link, #banner nav a:visited, #banner nav .inactive a:link {
    color: #000305;
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
}
#banner nav a:hover, #banner nav a:active,
#banner nav .active a:link, #banner nav .active a:visited {
    /* The nice orange! */
    /* background: #FFA628; */

    /* Orange gradient */
    background-image: linear-gradient(bottom, rgb(189,120,30) 0%, rgb(255,165,40) 40%);
    background-image: -o-linear-gradient(bottom, rgb(189,120,30) 0%, rgb(255,165,40) 40%);
    background-image: -moz-linear-gradient(bottom, rgb(189,120,30) 0%, rgb(255,165,40) 40%);
    background-image: -webkit-linear-gradient(bottom, rgb(189,120,30) 0%, rgb(255,165,40) 40%);
    background-image: -ms-linear-gradient(bottom, rgb(189,120,30) 0%, rgb(255,165,40) 40%);

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(189,120,30)),
	color-stop(0.4, rgb(255,165,40))
    );

    color: #000305;
    text-shadow: none !important;
}
    
#banner nav li:first-child a {
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
        
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

/*
    content
*****************/
#content {
    background: #fff;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    width: 760px;
 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    /* Shadow */
    -moz-box-shadow: 0 2px 5px #888;
    -webkit-box-shadow: 0 2px 5px #888;
    box-shadow: 0 2px 5px #888;
}
 
#content figure {
    border: 0; 
    float: right;
    margin: 0.786em 2em 0 5em;
    width: 248px;
}
#content figure img {display: block; float: right;}
 
#content h2 {color: #0063BC; font-size: 1.714em; margin-bottom: 0.333em;}
#content h3 {font-size: 1.429em; margin-bottom: .5em;}
 
#content h3 a:link, #content h3 a:visited {color: #602D05; text-decoration: none;}
#content h3 a:hover, #content h3 a:active {color: #fff;}
 
/*
    Body
*****************/
#content {
    background: #fff;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px 20px;
    width: 760px;
 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


/*
    About
*****************/
#about {
    background: #fff;
    font-style: normal;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    width: 760px;
 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
 
#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}
 
#about .url:link, #about .url:visited {text-decoration: none;}
 
#about .bio {float: right; width: 500px;}
 
/*
Footer
*****************/
#contentinfo {padding-bottom: 2em; text-align: left;}
#contentinfo p.footer {
    font-size: 50%;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
